/*

Theme Name: Wepayout
Theme URI: http://Wepayout.com.br
Author: Handgran - Hudson Carolino
Author URI: http://handgran.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Wepayout
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (handgran Framework v1)
--------------------------------------------
**** VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINAS
**** EXTRAS
**** @MEDIA
*/

  *{
    margin: 0;
    padding: 0;
  }
  ul{
    padding: 0;
    list-style: none;
    margin:0;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding:0;
  }
 
  /*VARIÁVEIS*/
    :root{
      /*CORES THEMA*/
      --color_primary:#0098F2;
      --color_secundary:#00F27F;
      --color_tertiary:#646464;
      --color_quaternar:#252525;
      /*FONTS*/
      --lato:'Lato', sans-serif;
      /*FONTS SIZE*/
      --size_primary:18px; 
      --size_secundary:35px; 
      --size_tertiary:20px; 

       /*CONTAINER*/
      --container_width:100%; 
      --container_max_width:1277px; 
      --container_margin:0 auto; 
    }

/*BODY*/
    body{
      color: var(--color_tertiary);
    }
 
/* TOPO */
    header{
      width: 100%;
      min-height: 101px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
      padding-top: 15px;
      position:absolute;
      top: 0;
      display: block;
      z-index: 1;
    }
      header div.row{
        width: var(--container_width);
        max-width: var(--container_max_width);
        margin: var(--container_margin);
      }
      header figure{
      
      }
        header figure img{
      
        }
        header figure figcaption{
      
        }
        header nav{

        }
          header nav{

          }
            header nav ul{
              text-align: right;
              padding-top: 20px;
            }
              header nav ul li{
                display: inline-block
              }
                header nav ul li a{
                  font-family: var(--lato);
                  font-style: normal;
                  font-weight: normal;
                  line-height: 28px;
                  font-size: var(--size_primary);
                  color: var(--color_tertiary);
                  margin-right:45px; 

                } 
        header button{
          outline: none;
          background: transparent;
          border: none;
          width: 35px;
          float: right;
          position: relative;
          top: -30px;
          display: none;
        }
        header button ~ button{
          display: none;
        }
          header button span{
            display: block;
            width: 100%;
            height: 3px;
            background: #737373;
            margin-bottom: 6px;

          }
        header button ~ button span{
          transform: rotate(39deg);
          -webkit-transform: rotate(39deg);
          -moz-transform: rotate(39deg);
          -o-transform: rotate(39deg);
          -ms-transform: rotate(39deg);
          position: absolute;
          top: 8px;
          left: 0;
        }
        header button ~ button span ~ span{
          transform: rotate(-39deg);
          -webkit-transform: rotate(-39deg);
          -moz-transform: rotate(-39deg);
          -o-transform: rotate(-39deg);
          -ms-transform: rotate(-39deg);
        }
  
/* RODAPÉ */
      footer{
        background: var(--color_primary);
        border-top: solid 1px #fff;
        padding-top: 160px;
      }
        footer div.row{
          width: var(--container_width);
          max-width: var(--container_max_width);
          margin: var(--container_margin);
        }
          footer div.row .col-md-4{
        
          }
            footer div.row .col-md-4 figure{
        
            }
              footer div.row .col-md-4 figure img{
        
              }
              footer div.row .col-md-4 figure figcaption{
        
              }
          footer div.row .col-md-4{
        
          }
            footer div.row .col-md-4 nav{
        
            }
              footer div.row .col-md-4 nav ul{
        
              }
                footer div.row .col-md-4 nav ul li{
        
                }
                  footer div.row .col-md-4 nav ul li a{
                    font-size: 16px;
                    line-height: 36px;
                    color: #fff;
                  }
        
            
        footer div.row ~ div{
          background: #fff;
          margin-top: 75px;
          padding-bottom: 15px;
        }
           footer div.row ~ div>div{
            width: var(--container_width);
            max-width: var(--container_max_width);
            margin: var(--container_margin);
            position: relative;
            padding-top: 20px;
            }
          footer div.row ~ div figure{
            display: inline-block;
            vertical-align: top;
            margin-right:20px;
          }
            footer div.row ~ div figure:last-child{
              float: right;
            }
            footer div.row ~ div figure img{
            
            }
            footer div.row ~ div figure figcaption{
          
            }
             footer div.row ~ div p{
              display: inline-block;
              vertical-align: top;
              font-family: 'Ubuntu', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #505D68;
              margin-left:10px;
              padding-top:5px;

            }
            footer div.row ~ div>figure:nth-child(3){
          
            }
 
/* COPYRIGHT */
 
/* ESTILOS GERAIS PARA AS PÁGINAS */
    h3{
      font-family: var(--lato);
      font-style: normal;
      font-weight: bold;
      font-size: var(--size_secundary);
      line-height: 50px;
      color:var(--color_tertiary);
    }
    p,figcaption{
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: var(--size_primary);
      line-height: 28px;
      color: var(--color_tertiary);
    }
    h2{
      font-family: var(--lato);
      font-style: normal;
      font-weight: bold;
      font-size: var(--size_tertiary);
      line-height: 24px;
    }
    h4{
      font-family: var(--lato);
      font-style: normal;
      font-weight: bold;
      font-size: var(--size_secundary);
      line-height: 50px;
      /* identical to box height, or 143% */

      color: var(--color_primary);
    }
    input[type="text"]{
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      padding: 10px;
      align-items: center;
      color: #A7A7A7;
      outline: none;
      width: 100%;
      height: 42px;
      display: block;
      margin-bottom: 17px;
      background: #FFFFFF;
      border: 0.5px solid #C4C4C4;
      box-sizing: border-box;
      outline: none;
    }
    input[type="submit"]{
      font-family: var(--lato);
      height: 59px;
      width: 100%;
      display: block;
      background: var(--color_secundary);
      font-style: normal;
      font-weight: bold;
      font-size: var(--size_primary);
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 25px;
      margin-top: 29px;
      border: none;
      outline: none;
    }
    input[type="email"]{
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      padding: 10px;
      align-items: center;
      color: #A7A7A7;
      outline: none;
      width: 100%;
      height: 42px;
      display: block;
      margin-bottom: 17px;
      background: #FFFFFF;
      border: 0.5px solid #C4C4C4;
      box-sizing: border-box;
      outline: none;
    }
    select{
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      padding: 10px;
      align-items: center;
      color: #A7A7A7;
      outline: none;
      width: 100%;
      height: 42px;
      display: block;
      margin-bottom: 17px;
      background: #FFFFFF;
      border: 0.5px solid #C4C4C4;
      box-sizing: border-box;
      outline: none;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      color: #A7A7A7;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      color: #A7A7A7;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 50px;
      color: #A7A7A7;
    }
    ::-webkit-scrollbar{ 
      background: var(--color_primary);
      width: 7px;
    }
    ::-webkit-scrollbar-thumb{ 
      background: var(--color_tertiary);
    }
    
/* PÁGINA INICIAL */
    .hand-wepayout-inicial{

    } 
      .hand-wepayout-inicial section:nth-child(1){
        
      }
        .hand-wepayout-inicial section:nth-child(1)>div{
        
        }
          .hand-wepayout-inicial section:nth-child(1)>div>div.item{
            position: relative;
          }
            .hand-wepayout-inicial section:nth-child(1)>div>div.item article{
        
            }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article div{
                position: absolute;
                top: 181px;
                left: 50%;
                transform: translateX(-50%);
                width: var(--container_width);
                max-width: var(--container_max_width);
                margin: var(--container_margin);
              }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article div h3{
                max-width: 789px;
              }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article div p{
                max-width: 789px;
              }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article div a{
                background-color: var(--color_secundary);
                display: block;
                max-width: 274px;
                width: 100%;
                height: 59px;
                text-decoration: none;
                font-family: var(--lato);
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top: 35px;
                padding-top: 16px;
              }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article div a:after{
                content: "";
                background-image: url(../img/Polygon.svg);
                background-repeat: no-repeat;
                display: inline-block;
                width: 17px;
                height: 17px;
                margin: 0 0 0 13px;

              }
            .hand-wepayout-inicial section:nth-child(1)>div>div.item article figure{
              min-height: 621px;
              display: block;
              background-size: cover!important;
              background-position: center!important;
            }

              .hand-wepayout-inicial section:nth-child(1)>div>div.item article figure img{
                display: block;
                width: 100%;
                height: auto;
                visibility: hidden;
              }
              .hand-wepayout-inicial section:nth-child(1)>div>div.item article figure figcaption{
        
              }
      .hand-wepayout-inicial section:nth-child(2){
        background: var(--color_primary);
        min-height: 365px;
        padding-top: 90px;
        text-align: center;
        position: relative;
      }
      .hand-wepayout-inicial section:nth-child(2) small:before{
        content: "";
        display: block;
        background-image: url(../img/Rectangle2.svg);
        width: 125px;
        height: 312px;
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        right: 40px;
      }
      .hand-wepayout-inicial section:nth-child(2) small:after{
        content: "";
        display: block;
        background-image: url(../img/Vector6.svg);
        width: 57px;
        height: 245px;
        position: absolute;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
      }
      .hand-wepayout-inicial section:nth-child(2):before{
        content: "";
        display: block;
        background-image: url(../img/negocio.svg);
        width: 246px;
        height: 245px;
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
      }
       .hand-wepayout-inicial section:nth-child(2):after{
          content: "";
          display: block;
          background-image: url(../img/vector5.svg);
          width: 125px;
          height: 125px;
          position: absolute;
          background-repeat: no-repeat;
          top: -1px;
          left: 243px;
        }
        .hand-wepayout-inicial section:nth-child(2) h3{
          color: #fff;
          padding-bottom: 19px;
        }
        .hand-wepayout-inicial section:nth-child(2) p{
          color: #fff;
        }
      .hand-wepayout-inicial section:nth-child(3){
        text-align: center;
        position: relative;
        padding-top: 137px;

      }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(1):before{
          content: "";
          display: block;
          background-image: url(../img/Vector10.svg);
          height: 149px;
          width: 151px;
          border-left: none;
          position: absolute;
          top: -1px;
          right: 75px;
          background-repeat: no-repeat;
        }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(1):after{
          content: "";
          display: block;
          border: 3px solid var(--color_secundary);
          position: absolute;
          height: 72px;
          width: 72px;
          right: 0;
          position: absolute;
          top: 148px;
        }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(2):before{
          content: "";
          display: block;
          background: var(--color_primary);
          height: 92px;
          width: 92px;
          border-left: none;
          position: absolute;
          top: -58px;
          right: 75px;
        }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(2){
          content: "";
          display: block;
          border: 3px solid var(--color_primary);
          height: 275px;
          width: 226px;
          right: 0;
          position: absolute;
          bottom: -137px;
          border-right: none;
          border-bottom: none;
        }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(3):before{
          content: "";
          display: block;
          border: solid 3px var(--color_secundary);
          height: 105px;
          width: 105px;
          position: absolute;
          left: 175px;
          bottom: -72px;
        }
        .hand-wepayout-inicial section:nth-child(3) small:nth-child(3):after{
          content: "";
          display: block;
          background: url(../img/Vector21.svg);
          height: 275px;
          width: 204px;
          left: 0;
          position: absolute;
          bottom: -337px;
          background-repeat: no-repeat;
        }
        .hand-wepayout-inicial section:nth-child(3):before{
          content: "";
          display: block;
          border: 3px solid var(--color_primary);
          position: absolute;
          height: 578px;
          width: 100px;
          left: 0;
          border-left: none;
          position: absolute;
          top: 35%;
        }
        .hand-wepayout-inicial section:nth-child(3):after{
          content: "";
          display: block;
          background: url(../img/Union.svg);
          width: 77px;
          height: 85px;
          position: absolute;
          top: 90px;
          left: 65px;
        }
        .hand-wepayout-inicial section:nth-child(3)>h3{
          color: var(--color_primary);
          padding-bottom: 19px;
        }
        .hand-wepayout-inicial section:nth-child(3)>p{

        }
        .hand-wepayout-inicial section:nth-child(3)>div{
          padding-top: 64px;
          width: var(--container_width);
          max-width: var(--container_max_width);
          margin: var(--container_margin);
        }
          .hand-wepayout-inicial section:nth-child(3)>div div.row{

          }
            .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4{

            } 
              .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul{
                max-width: 304px;
                display: inline-block;
                width: 100%;
                text-align: center;
              } 
                .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li{
                  margin-bottom:29px; 
                  min-height: 230px;
                }   
                  .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li figure{
                    margin-bottom: 13px;
                  } 
                    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li figure img{

                    } 
                    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li figure figure{
    
                    }  
                  .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li h2{
                      margin-bottom: 13px;
                  }   
                  .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul li p{
                    line-height: 21px;
                  }   
          .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2){
            padding-top: 20px;
          } 
            .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure{
              display: block;
              max-width: 348px;
              margin: 0 auto;
              background: var(--color_primary);
              border-radius: 60px;
              position: relative;
              background-image: url(../img/Vector3.png);
              background-repeat: no-repeat;
              background-position: 122px 541px;
            }
              .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure:before{
                content: "";
                display: block;
                background-image: url(../img/Vector.svg);
                width: 133px;
                height: 134px;
                position: absolute;
                background-position: center;
                right: 0;
                background-repeat: no-repeat;
                top: 34px;
              }
               .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure:after{
                content: "";
                display: block;
                background-image: url(../img/Vector2.svg);
                width: 132px;
                height: 112px;
                position: absolute;
                background-position: bottom;
                left: 0;
                background-repeat: no-repeat;
                bottom: 15px;
              }
              .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure img{
               display: block;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
              }
              .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure figcaption{
                position: absolute;
                top: 50%;
                left: 50%;
                color: #fff;
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 234px;
              }
                   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure figcaption:before{
                    content: "";
                    display: block;
                    background-image: url(../img/image16.png);
                    width: 47px;
                    height: 50px;
                    margin: auto;
                   }
                   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure figcaption strong{
                    display: block;
                    margin: 13px 0;
                   }
     
      .hand-wepayout-inicial section:nth-child(4){
        background: var(--color_secundary);
        margin-top: 300px;
        position: relative;
        padding-bottom: 119px;
      }
        .hand-wepayout-inicial section:nth-child(4):before{
          background: var(--color_secundary);
          content: "";
          display: block;
          width: 100%;
          height: 459px;
          transform: skew(0deg, -5deg);
          -webkit-transform: skew(0deg, -5deg);
          -moz-transform: skew(0deg, -5deg);
          -o-transform: skew(0deg, -5deg);
          -ms-transform: skew(0deg, -5deg);
          position: absolute;
          top: -112px;
        }
        .hand-wepayout-inicial section:nth-child(4)>div{
          width: var( --container_width);
          max-width: var( --container_max_width);
          margin: var( --container_margin);
        } 
          .hand-wepayout-inicial section:nth-child(4)>div h3{
            position: relative;
            padding-bottom: 52px;
            padding-top: 52px;
            color: var(--color_quaternar);
          }
          .hand-wepayout-inicial section:nth-child(4)>div p{
            vertical-align: top;
            line-height: 21px;
            max-width: 382px;
            display: inline-block;
            color: var(--color_quaternar);
      
          }
          .hand-wepayout-inicial section:nth-child(4)>div ul{

          }
            .hand-wepayout-inicial section:nth-child(4)>div ul li{
              padding-left: 60px;
              min-height: 100px;
              padding-bottom: 26px;
              position: relative;
            }
              .hand-wepayout-inicial section:nth-child(4)>div ul li:before{
                content: "";
                display: block;
                background-image: url(../img/image32.svg);
                background-color: #fff;
                background-position: center;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 1;
              }
              .hand-wepayout-inicial section:nth-child(4)>div ul li:after{
                content: "";
                display: block;
                height: 100%;
                width: 3px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 10px;
              } 
              .hand-wepayout-inicial section:nth-child(4)>div ul li:last-child:after{
                display: none;
              }
              .hand-wepayout-inicial section:nth-child(4)>div figure{

              }
                .hand-wepayout-inicial section:nth-child(4)>div figure img{
                  display: block;
                  margin: 0 auto;
                  height: auto;
                }
                .hand-wepayout-inicial section:nth-child(4)>div figure figcaption{

                }
              .hand-wepayout-inicial section:nth-child(4)>div ul li h2{
                width: 136px;
                display: inline-block;
                color: var(--color_quaternar)
              }
      .hand-wepayout-inicial section:nth-child(5){
        padding-top: 111px;
        position: relative;
        margin-bottom: 170px;
      }
      .hand-wepayout-inicial section:nth-child(5):before{
        content: "";
        display: block;
        background: url(../img/Union1.svg);
        width: 179px;
        height: 180px;
        background-repeat: no-repeat;
        position: absolute;
        top: -1px;
        left: 0;
      }
      .hand-wepayout-inicial section:nth-child(5) small:nth-child(1):before{
        content: "";
        display: block;
        border: solid 3px var(--color_secundary);
        height: 105px;
        width: 105px;
        position: absolute;
        right: 0;
        bottom: 45px;
      }
      .hand-wepayout-inicial section:nth-child(5) small:nth-child(1):after{
        content: "";
        display: block;
        background: url(../img/Vector123.svg);
        height: 217px;
        width: 219px;
        right: 75px;
        position: absolute;
        bottom: -172px;
        background-repeat: no-repeat;
      }

      .hand-wepayout-inicial section:nth-child(5) small:nth-child(2):before{
        content: "";
        display: block;
        position: absolute;
        bottom: -171px;
        width: 177px;
        height: 310px;
        border: solid 3px var(--color_primary);
        border-left: 0;
      }
      .hand-wepayout-inicial section:nth-child(5) small:nth-child(2):after{
        content: "";
        display: block;
        position: absolute;
        bottom: -171px;
        width: 320px;
        height: 119px;
        border: solid 3px var(--color_primary);
        border-left: 0;
      }
        .hand-wepayout-inicial section:nth-child(5)>h3{
          text-align: center;
          padding-bottom: 19px;
        }
        .hand-wepayout-inicial section:nth-child(5)>p{
          text-align: center;
        }
         .hand-wepayout-inicial section:nth-child(5)>ul{
          text-align: center;
          padding-top: 77px;
         }
          .hand-wepayout-inicial section:nth-child(5)>ul li{
            display: inline-block;
            width: 25%;
          } 
            .hand-wepayout-inicial section:nth-child(5)>ul li{
              
              display: inline-block;
              position: relative;
            }
              .hand-wepayout-inicial section:nth-child(5)>ul li:before{
                content: "";
                display: block;
                background-image: url(../img/Arrow.svg);
                width: 149px;
                height: 27px;
                background-repeat: no-repeat;
                position: absolute;
                right: -65px;
                top: 83px;

              }
              .hand-wepayout-inicial section:nth-child(5)>ul li:after{
                content: "";
                display: none;
                background-image: url(../img/ArrowBottom.png);
                width: 149px;
                height: 65px;
                background-repeat: no-repeat;
                margin: 25px auto;
                background-position: center 0!important;
              }
               .hand-wepayout-inicial section:nth-child(5)>ul li:last-child:before{
                display: none;
               }
               .hand-wepayout-inicial section:nth-child(5)>ul li:last-child:after{
                display: none;
               }
              .hand-wepayout-inicial section:nth-child(5)>ul li figure{
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
                max-width: 172px;
                height: 180px;
                position: relative;
                margin: 0 auto;
              }
                .hand-wepayout-inicial section:nth-child(5)>ul li figure img{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
                .hand-wepayout-inicial section:nth-child(5)>ul li figure figcaption{

                }
              .hand-wepayout-inicial section:nth-child(5)>ul li h2{
                max-width: 172px;
                text-align: center;
                margin: 0 auto;
                padding-top: 32px;
                line-height: 28px;

              }
        .hand-wepayout-inicial section:nth-child(6){
          background-color: var(--color_primary);
          padding-top: 146px;
          padding-bottom: 75px;
          position: relative;
          margin-top: 160px;
        }
          .hand-wepayout-inicial section:nth-child(6):after{
            background-color: var(--color_primary);
            content: "";
            display: block;
            width: 100%;
            height: 459px;
            transform: skew(0deg, -5deg);
            -webkit-transform: skew(0deg, -5deg);
            -moz-transform: skew(0deg, -5deg);
            -o-transform: skew(0deg, -5deg);
            -ms-transform: skew(0deg, -5deg);
            position: absolute;
            bottom: -85px;
          }
          .hand-wepayout-inicial section:nth-child(6) div.row{
            width: var(--container_width);
            max-width: var(--container_max_width);
            margin: var(--container_margin);
            position: relative;
            z-index: 1;
          }
            .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-3{

            }
            .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-3>div{

            }    
              .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-3 div h3{
                color: #FFF;
              }    
              .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-3 div p{
                color: #FFFFFF;
              }    

          .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9{
            text-align: right;
          } 
            .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul{
              border-top: 5px solid #FFFFFF;
              border-right: 5px solid #FFFFFF;
              width: 100%;
              max-width: 741px;
              height: 245px;
              display: inline-block;
              text-align: left;
            }    
              .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li{
                display: inline-block;
                vertical-align: top;
                width: 100%;
              } 
                .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li:nth-child(1){
                  max-width: 65.7%;
                }
                .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li:nth-child(2){
                  max-width: 33.7%;
                }
                .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li figure{
                  display: block;
                  background: #fff;
                  position: relative;
                  width: 70px;
                  height: 70px;
                  margin-top: -37px;
                  margin-bottom: 19px;
                } 
                  .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li figure img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }  
                  .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li figure figcaption{
                    display: none;
                  }  
                .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li h2{
                  color: #ffff;
                  padding-bottom: 11px;
                  line-height: 24px;
                } 
                .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li p{
                  color: #fff;
                  line-height: 22px;
                }  
          .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12{
            border-top: 5px solid #FFFFFF;
          } 
            .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul{
              text-align: right;
              width: 100%;
              
            }
              .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul:before{
                content: "";
                display: block;
                width: 100%;
                max-width: 5px;
                height: 120px;
                background: #fff;
              }
              .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul:after{
                content: "";
                display: block;
                width: 100%;
                max-width: 1082px;
                height: 5px;
                background: #fff;
                position: absolute;
                top: 115px;
              }    
              .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li{
                display: inline-block;
                vertical-align: top;
                width: 100%;
                text-align: left;
              } 
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li:nth-child(1){
                  max-width: 35.3%;
                }
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li:nth-child(2){
                  max-width: 38.1%;
                }
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li:nth-child(3){
                  max-width: 20%;
                }
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li figure{
                  display: block;
                  background: #fff;
                  position: relative;
                  width: 70px;
                  height: 70px;
                  margin-top: -40px;
                  margin-bottom:19px;
                  z-index: 1;
                } 
                  .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li figure img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }  
                  .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li figure figcaption{
                    display: none;
                  }  
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li h2{
                  color: #ffff;
                  padding-bottom: 11px;
                  line-height: 24px;
                } 
                .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li p{
                  color: #fff;
                  line-height: 22px;
                }  
      .hand-wepayout-inicial section:nth-child(7){
        width: var( --container_width);
        max-width: var( --container_max_width);
        margin: var( --container_margin);
        padding-top: 200px;
      }
        .hand-wepayout-inicial section:nth-child(7)>div.row{

        }
          .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6{

          }
          .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6{
            padding-top: 88px;
          } 
          .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6 ~ .col-md-6{
            display: none;
          }
           .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6 figure{
              padding-top: 120px;
            }
            .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 figure{

            }
              .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 figure img{
                display: inline-block;
                max-width: 100%;
                height: auto;
              }
              .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 figure figcaption{

              }
          .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 article{
            padding-top: 100px;
          } 
            .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 article h4{
              padding-bottom: 16px;
            }
            .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 article p{
              padding-bottom: 25px;
              line-height: 28px;
            }
      .hand-wepayout-inicial section:nth-child(8){
        padding-top: 130px;
        position: relative;
      }
        .hand-wepayout-inicial section:nth-child(8) figure{
      
        }
          .hand-wepayout-inicial section:nth-child(8) figure img{
            display: block;
            width: 100%;
            height: auto;
          }
          .hand-wepayout-inicial section:nth-child(8) figure figcaption{

          }
      .hand-wepayout-inicial section:nth-child(8)>div{
        background: #FFFFFF;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        width: 100%;
        max-width: 430px;
        min-height: 715px;
        margin: 0 auto;
        padding: 29px 63px;
        position: absolute;
        top: 356px;
        right: 335px;
      }
        .hand-wepayout-inicial section:nth-child(8)>div h4{
          text-align: center;
          margin-bottom: 27px;
        }
        .hand-wepayout-inicial section:nth-child(8)>div input[type="text"]{
         

        }
        .hand-wepayout-inicial section:nth-child(8)>div input[type="submit"]{
  
        }
        .hand-wepayout-inicial section:nth-child(8)>div input{

        }
        .hand-wepayout-inicial section:nth-child(8)>div select{
  
        }
        .hand-wepayout-inicial section:nth-child(8)>div button{
          border: none;
          background: var(--color_primary);
          width: 100%;
          height: 58px;
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 50px;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 0 30px;
          position: relative;
        }
        .hand-wepayout-inicial section:nth-child(8)>div button:after{
          content: "";
          display: inline-block;
          width: 56px;
          height: 31px;
          background-image: url(../img/production2.png);
          margin-right: 5px;
          position: absolute;
          right: 35px;
          top: 14px;
          border-left: solid 1px #FFF;
          background-repeat: no-repeat;
          background-position: right;
        }
        .hand-wepayout-inicial section:nth-child(8)>div a{
          font-style: normal;
          font-weight: normal;
          font-family: var(--lato);
          font-size: 16px;
          line-height: 36px;
          /* identical to box height, or 225% */
          color: #A7A7A7;
          mix-blend-mode: normal;
          display: block;
          margin-top: 25px;
        }
          .hand-wepayout-inicial section:nth-child(8)>div a:before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url(../img/email.svg);
            position: relative;
            top: 3px;
            margin-right: 5px;
          }
/* EXTRAS */
 
/*@MEDIA*/ 
   @media(max-width: 1750px){
    .hand-wepayout-inicial section:nth-child(8)>div{
      top: 300px;
    }
  }
  @media(max-width: 1750px){
    .hand-wepayout-inicial section:nth-child(8)>div{
      top: 233px;
    }
  }
  @media(max-width: 1685px){
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(2){
      bottom: -274px;
    }
  }
  @media(max-width: 1500px){
    .hand-wepayout-inicial section:nth-child(3):before{
      max-width: 55px;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(3):before{
      bottom: -112px;
    }
  }
   @media(max-width: 1400px){
     .hand-wepayout-inicial section:nth-child(8)>div{
      top: 200px;
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4{
      text-align: right!important; 
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(3){
      text-align: left!important; 
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2){
      padding: 20px 10px;
    }
    .hand-wepayout-inicial section:nth-child(5) small:nth-child(1):after{
      height: 172px;
      width: 172px;
      background-size: cover!important;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 figure{
      text-align: center;
    }

  }
  @media(max-width: 1300px){
     .hand-wepayout-inicial section:nth-child(8) figure{
          background-image: url(../img/14610.png);
          height: 540px;
          background-position: center!important;
          background-size: cover!important;

        }
          .hand-wepayout-inicial section:nth-child(8) figure img{
            visibility: hidden;
          }
          footer div.row{
            padding: 160px 32px 0;
          }
          footer div.row ~ div>div{
            padding: 160px 32px 0;
          }
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article div{
      padding: 0 10px;
    }
    header{
      padding:  15px 10px;
    }
    .hand-wepayout-inicial section:nth-child(4)>div ul{
      padding: 0 33px;
    }
    .hand-wepayout-inicial section:nth-child(6){
      padding: 160px 10px 75px;
    }
  }
  @media(max-width: 1280px){
    .hand-wepayout-inicial section:nth-child(2):before{
      width: 208px;
      height: 147px;
      background-size: cover;
    }
     .hand-wepayout-inicial section:nth-child(5)>ul li{
      width: 32%;
    }
    .hand-wepayout-inicial section:nth-child(2):after{
      width: 100px;
      height: 100px;
      left: 243px;
      background-size: cover!important;
    }
  }
   @media(max-width: 1166px){
    .hand-wepayout-inicial section:nth-child(4)>div p{
      display: block;
    }
    .hand-wepayout-inicial section:nth-child(4)>div ul li h2{
      display: block;
    }
    
   } 
  @media(max-width: 991px){
    .hand-wepayout-inicial section:nth-child(8)>div{
      left: 50%;
      transform: translateX(-50%);
    }
    footer div.row ~ div>div {
      padding: 40px 32px 0;
    }
    footer div.row .col-md-4 nav ul{
      text-align: center;
    }
    footer{
      text-align: center;
    }
    .hand-wepayout-inicial section:nth-child(8)>div{
      padding: 29px 32px;
    }
    .hand-wepayout-inicial section:nth-child(8)>div button{
      font-size: 15px;
    }
    footer div.row ~ div p{
      display: block;
      margin: 10px 0;
    }
    footer div.row ~ div figure:last-child{
      float: initial;
    }
    .hand-wepayout-inicial section:nth-child(7){
      padding: 0 32px;
      padding-top: 50px;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 article{
      margin-top: 0;
      padding-top: 0;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6{
      margin-top: 0;
      padding-top: 0;
    }
    .hand-wepayout-inicial section:nth-child(2):before{
     display: none;
    }
    .hand-wepayout-inicial section:nth-child(2):after{
     display: none;
    }
    .hand-wepayout-inicial section:nth-child(2) small:before{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(2) small:after{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(3):before{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(1):before{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(1):after{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(2):before{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(3):before{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(3):after{
       display: none;
    }
    .hand-wepayout-inicial section:nth-child(3) small:nth-child(2){
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure figcaption{
      text-align: center;
      padding: 10px;
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure:before{
      right: -30px;
      top: -15px;
    }
    .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure:after{
      left: -11px;
      bottom: -8px;
    }
    .hand-wepayout-inicial section:nth-child(4)>div figure img{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .hand-wepayout-inicial section:nth-child(5) small:nth-child(1):before{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(5) small:nth-child(1):after{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(5):before{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(5) small:nth-child(2):before{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(5) small:nth-child(2):after{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(5)>ul li{
      width: 33%;
    }
    .hand-wepayout-inicial section:nth-child(5)>ul li:before{
      width: 98px;
      height: 15px;
      right: -50px;
      background-size: cover!important;
    }
     .hand-wepayout-inicial section:nth-child(6) {
      padding: 47px 10px 75px;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li:nth-child(1){
      max-width: 100%;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul{
      max-width: 100%;
      border-top: none;
      border-right: none;
      border-left:none;
      height: initial;
      margin-top: 78px;
      padding-left: 36px;
      position: relative;

    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul:before{
      border-left: 5px solid #FFFFFF;
      height: 490px;
      content: "";
      display: block;
      left: 0;
      top: 40px;
      position: absolute;
    }
    .hand-wepayout-inicial section:nth-child(6):after{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul{
      padding-left: 36px;
      position: relative;
    }

    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li figure{
      margin-top:0 ;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li{
      max-width: 100%!important;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li figure:before{
      content: "";
      display: block;
      width: 77px;
      height: 5px;
      position: absolute;
      left: -36px;
      background: #fff;
      top: 40px;

    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-9 ul li{
      margin-bottom:54px;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li{
      display: block;
      max-width: 100%!important;
      margin-bottom:54px;

    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li figure{
      margin-top: initial;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul li figure:before{
      content: "";
      display: block;
      width: 77px;
      height: 5px;
      position: absolute;
      left: -36px;
      background: #fff;
      top: 40px;

    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul:before{
      border-left: 5px solid #FFFFFF;
      height: 581px;
      content: "";
      display: block;
      left: 0;
      top:0; 
      position: absolute;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12 ul:after{
      display: none;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row:last-child .col-sm-12{
      border-top: none;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6:first-child figure{
      display: none;
    } 
   .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6 ~ .col-md-6 {
      display: block;
    }
    
  }
  @media(max-width: 890px){
    .hand-wepayout-inicial section:nth-child(5)>ul li{
      display: block;
      width: 100%;
    }
    .hand-wepayout-inicial section:nth-child(5)>ul li:before{
     display: none;
    }
    .hand-wepayout-inicial section:nth-child(5)>ul li:after{
      display: block;
    }

  }
  @media(max-width: 768px){
     h3{
      font-size: 23px;
      line-height: 33px;
      text-align: center;
    }
    p{
      font-size: 16px;
      line-height: 26px;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 figure img{
      max-width: 200px;
      margin: 0 auto;
    }
    .hand-wepayout-inicial section:nth-child(7)>div.row .col-md-6 ~ .col-md-6 figure{
      padding-top: 0;
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .hand-wepayout-inicial section:nth-child(6) div.row>.col-md-3 div p{
      text-align: center;
    }
   
    .hand-wepayout-inicial section:nth-child(6){
      margin-top: 20px;
    }
    .hand-wepayout-inicial section:nth-child(5){
      margin-bottom: 20px;
    }
    .hand-wepayout-inicial section:nth-child(4){
      padding-bottom: 0;
    }
    header button{
      display: block;
    }
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article figure{
      background: none!important;
      min-height: 0;
    } 
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article figure img{
      visibility: visible;
    }
    header{
      position: initial;
      padding: 62px 35px 30px;
    }
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article div{
      position: initial;
      top: initial;
      left:initial;
      transform:initial;
      padding: 22px 32px;
    }
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article div h3{
      padding-bottom: 28px;
    }
    .hand-wepayout-inicial section:nth-child(1)>div>div.item article div a{
      margin-top: 41px;
      margin-bottom: 41px;
    }
   header nav{
    display:none;
   }
   .hand-wepayout-inicial section:nth-child(1)>div>div.item article div a:after{
    display: none;
   }
   header nav ul li{
    display: block;
    margin-bottom: 10px;
   }
   header nav ul{
    text-align: left;
   }
   .hand-wepayout-inicial section:nth-child(2){
    padding: 90px 10px;
   }
   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4{
    text-align: center!important;
   }
   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(3){
    text-align: center!important;
   }
   .hand-wepayout-inicial section:nth-child(3):after{
    display: none;
   }
   .hand-wepayout-inicial section:nth-child(3){
    padding-top: 55px;
   }
   .hand-wepayout-inicial section:nth-child(3)>div{
    padding-top: 41px;
   }
   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4:nth-child(2) figure{
    display: none;
   }
   .hand-wepayout-inicial section:nth-child(4):before{
    display: none;
   }
   .hand-wepayout-inicial section:nth-child(4){
    margin-top: 0;
   }
   .hand-wepayout-inicial section:nth-child(3)>div div.row .col-sm-4 ul{
    padding: 0 10px;
   }
   .hand-wepayout-inicial section:nth-child(4)>div h3{
    text-align: center;
   }
   .hand-wepayout-inicial section:nth-child(4)>div ul li:before{
    display: none;
   }
   .hand-wepayout-inicial section:nth-child(4)>div ul li:after{
    display: none;
   }
   .hand-wepayout-inicial section:nth-child(4)>div ul li{
    padding-left: 0;
   }
  }

  @media(max-width: 425px){
    header figure img{
      max-width: 85px;
    }
  }
  
  
